<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Log in</h1>

    <div id="registration-error" class="alert alert-danger" *ngIf="authenticationFailed">
      <button type="button" class="btn-close" aria-label="Close" (click)="authenticationFailed = false"></button>
      Nope, try again!
    </div>

    <form (ngSubmit)="authenticate()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input id="login" class="form-control" name="login" required [(ngModel)]="credentials.login" #loginCtrl="ngModel" />
        <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          id="password"
          class="form-control"
          type="password"
          name="password"
          required
          [(ngModel)]="credentials.password"
          #passwordCtrl="ngModel"
        />
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Let's Go!</button>
    </form>
  </div>
</div>
