<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">PonyRacer</a>
    <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse" [class.collapse]="navbarCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/races">Races</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="user">
        <li class="navbar-text">
          <span id="current-user" class="me-2">
            {{ user.login }}
            <span class="fa fa-star"></span>
            {{ user.money }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
